<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
  <main>

    <div th:replace="~{/cart/view :: shopping_cart}"></div>
    <div class="card" style="margin-top: 30px;">
      <div class="card-header">
        <h3 class="card-title">ORDER PURCHASING</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-sm-6">
            <div>Purchaser</div>
            <div class="form-control" id="username">[[${#request.remoteUser}]]</div>
          </div>
          <div class="form-group col-sm-6">
            <div>Order Date</div>
            <div class="form-control">{{order.createDate | date : 'dd-MM-yyyy'}}</div>
          </div>
          <div class="form-group col-sm-12">
            <div>Shipping Address</div>
            <textarea ng-model="order.address" class="form-control" cols="30" rows="5"></textarea>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <button ng-click="order.purchase()" class="btn btn-success">Purchase</button>
      </div>
    </div>

  </main>
</body>

</html>