<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
  <main>

    <div class="card">
      <div class="card-header">MY ORDERS PURCHASED</div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>No.</th>
            <th>Order No.</th>
            <th>OrderDate</th>
            <th>Shipping Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="order, state : ${orders}">
            <td>[[${state.index}]]</td>
            <td>[[${order.id}]]</td>
            <td>[[${order.createDate}]]</td>
            <td>[[${order.address}]]</td>
            <td>
              <a th:href="@{|/order/detail/${order.id}|}" class="btn btn-info">
                <i class="bi bi-info-circle"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</body>

</html>